<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>
<div class="container mt-3">
    <div class="card card-inverse card-success" style="color: white;">
        <div class="text-center">
            <h1>Success!</h1>
            <strong>How does this look?</strong>
        </div>
        <table class="table table-hover mb-0 mt-2">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td><%= sess.user.name %></td>
                </tr>
                <tr>
                    <th scope="row">Function</th>
                    <td><%= sess.proposedBooking.function %></td>
                </tr>
                <tr>
                    <th scope="row"># of People</th>
                    <td><%= sess.proposedBooking.numPeople %></td>
                </tr>
                <tr>
                    <th scope="row">Start Time</th>
                    <td><%= moment(sess.proposedBooking.unixStartTime * 1000).tz(TZ).format('LLL') %></td>
                </tr>
                <tr>
                    <th scope="row">Return Time</th>
                    <td><%= moment(sess.proposedBooking.unixReturnTime * 1000).tz(TZ).format('LLL') %></td>
                </tr>
                <tr>
                    <th scope="row">Reason</th>
                    <td><%= sess.proposedBooking.reason %></td>
                </tr>
                <% if (sess.proposedBooking.notes.length > 0) { %>
                    <tr>
                        <th scope="row">Notes</th>
                        <td><%= sess.proposedBooking.notes %></td>
                    </tr>
                <% } %>
                <tr>
                    <th scope="row">Vehicle</th>
                    <td><%= sess.proposedBooking.vehicle.name + (' (Vehicle ID: ' + sess.proposedBooking.vehicle.vid + ', Seats ' + sess.proposedBooking.vehicle.numSeats + ')') %></td>
                </tr>
                <% if (sess.proposedBooking.vehicle.notes.length > 0) { %>
                    <tr>
                        <th scope="row">Vehicle Notes</th>
                        <td><%= sess.proposedBooking.vehicle.notes %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary mt-3" href="/accept_booking">Accept Booking</a>
    <a class="btn btn-outline-danger mt-3" href="#">Cancel Booking</a>
</div>
<% include scripts.ejs %>
</body>
</html>