<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>

<div class="container mt-3">
    <% if(booking.status === 'ACTIVE') { %>
        <div class="alert alert-info">At this time bookings that have already been created cannot be changed.</div>
    <% } else if (booking.status === 'EXPIRED') { %>
        <div class="alert alert-warning">This booking has expired</div>
    <% } %>

    <div class="card pb-3<%= booking.status === 'EXPIRED' ? ' text-muted' : '' %>">
        <div class="card-block">
            <h3 class="text-center">Booking</h3>
        </div>
            <ul class="list-group list-group-flush justify-content-center">
                <li class="list-group-item justify-content-between">Pickup Time <b><%= moment(booking.startTime).tz(TZ).format('LLL') %></b></li>
                <li class="list-group-item justify-content-between">Return Time <b><%= moment(booking.returnTime).tz(TZ).format('LLL') %></b></li>
                <li class="list-group-item justify-content-between">Reason <b><%= booking.reason %></b></li>
                <li class="list-group-item justify-content-between">Number of People <b><%= booking.numPeople %></b></li>
                <li class="list-group-item justify-content-between">Notes <span><%= booking.notes %></span></li>
            </ul>
        <div class="row justify-content-around mt-3">
            <div class="col-md-6 listing">
                <h4 class="text-center">User</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item justify-content-between">Name <b><%= booking.user.name %></b></li>
                    <li class="list-group-item justify-content-between">Email <b><%= booking.user.email %></b></li>
                </ul>
            </div>
            <div class="col-md-6 listing">
                <h4 class="text-center">Vehicle</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item justify-content-between">Name <b><%= booking.vehicle.name %> (ID# <%= booking.vehicle.vid %>)</b></li>
                    <li class="list-group-item justify-content-between">Type <b><%= booking.vehicle.type %></b></li>
                    <li class="list-group-item justify-content-between">Seats <b><%= booking.vehicle.numSeats %></b></li>
                    <li class="list-group-item justify-content-between">Notes <b><%= booking.vehicle.notes %></b></li>
                </ul>
            </div>
        </div>
    </div>
    <a href="/booking/<%= booking.id %>/details" class="btn btn-info mt-2">Details</a>
    <% if (booking.status === 'ACTIVE') {%>
        <% if (event.calendarUrl !== undefined) { %>
            <a href="<%= event.calendarUrl %>" target="_blank" class="btn btn-outline-info mt-2">Calendar</a>
        <% } %>

        <% if(sess.user.resource_name === booking.user.resource_name || sess.user.is_admin) { %>
            <a href="/booking/<%= booking.id %>/cancel" class="btn btn-outline-danger mt-2">Cancel Booking</a>
        <% } %>
    <% } %>
</div>

<% include scripts.ejs %>
</body>
</html>