<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>

<div class="container mt-3">
    <div class="card">
        <div class="card-block">
            <h3>Post Booking Form</h3>
            <p class="form-text text-muted">
                This form does not have to be filled out all at once.
                Your responses will be saved.
            </p>
            <form method="post" action="/booking/<%= bk.id %>/details">
                <fieldset class="form-group">
                    <label for="departureTime">Departure Time</label>
                    <input id="departureTime" name="departureTime" type="text" class="form-control" value="<%= bk.dDepartureTime %>">
                </fieldset>

                <fieldset class="form-group">
                    <label for="timeOfReturn">Time Vehicle Returned</label>
                    <input id="timeOfReturn" name="timeOfReturn" type="text" class="form-control" value="<%= bk.dReturnTime %>">
                </fieldset>

                <fieldset class="form-group">
                    <label for="kmStart">KM's Start</label>
                    <input id="kmStart" name="kmStart" type="number" class="form-control" value="<%= bk.dKMStart %>">
                </fieldset>

                <fieldset class="form-group">
                    <label for="kmFinish">KM's Finish</label>
                    <input id="kmFinish" name="kmFinish" type="number" class="form-control" value="<%= bk.dKMFinish %>">
                </fieldset>

                <fieldset class="form-group">
                    <label class="form-control-label">Business or Personal</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="bOrP" id="business" value="BUSINESS" checked>
                            Business
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="bOrP" id="personal" value="PERSONAL">
                            Personal
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="vehicleClean" id="vehicleClean" <%= bk.dWasClean ? 'checked' : '' %>>
                            The vehicle was clean inside and out.
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label for="fuelStationName">Name of Gas Station (Leave blank if no gas was purchased)</label>
                    <input id="fuelStationName" type="text" name="fuelStationName" class="form-control" value="<%= bk.dFuelStationName %>">
                </fieldset>

                <fieldset class="form-group">
                    <label for="fuelAmount">Fuel Cost (Leave blank if no gas was purchased)</label>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="number" id="fuelAmount" name="fuelAmount" class="form-control" value="<%= bk.dFuelAmount %>">
                    </div>
                </fieldset>

                <fieldset class="form-group">
                    <label class="form-check-label">
                        <input id="incidentReport" name="incidentReport" class="form-check-input" type="checkbox" <%= bk.dIncidentReport ? 'checked' : '' %>>
                        I have an incident to report
                    </label>
                </fieldset>

                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-outline-danger" href="/my_bookings">Cancel</a>
            </form>
        </div>
    </div>
</div>

<% include scripts.ejs %>
</body>
</html>