<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<div class="container mt-3">
    <div class="card card-inverse card-success" style="color: white;">
        <div class="text-center">
            <h1>Success!</h1>
            <strong>How does this look?</strong>
        </div>
        <table class="table table-hover mb-0 mt-2">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td><%= booking.name %></td>
                </tr>
                <tr>
                    <th scope="row">Function</th>
                    <td><%= booking.function %></td>
                </tr>
                <tr>
                    <th scope="row"># of People</th>
                    <td><%= booking.numPeople %></td>
                </tr>
                <tr>
                    <th scope="row">Start Time</th>
                    <td><%= moment(booking.startTime * 1000).format('LLL') %></td>
                </tr>
                <tr>
                    <th scope="row">Return Time</th>
                    <td><%= moment(booking.returnTime * 1000).format('LLL') %></td>
                </tr>
                <tr>
                    <th scope="row">Reason</th>
                    <td><%= booking.reason %></td>
                </tr>
                <% if (booking.notes.length > 0) { %>
                    <tr>
                        <th scope="row">Notes</th>
                        <td><%= booking.notes %></td>
                    </tr>
                <% } %>
                <tr>
                    <th scope="row">Vehicle</th>
                    <td><%= booking.vehicle.name + (' (vid: ' + booking.vehicle.vid + ', seats ' + booking.vehicle.numSeats + ')') %></td>
                </tr>
                <% if (booking.vehicle.notes.length > 0) { %>
                    <tr>
                        <th scope="row">Vehicle Notes</th>
                        <td><%= booking.vehicle.notes %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary mt-3" href="/accept_booking">Accept Booking</a>
</div>
<% include scripts.ejs %>
</body>
</html>