<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
    <link rel="stylesheet" href="/jquery.timepicker.min.js">
</head>
<body>
<% include nav.ejs %>
<div class="container mt-3">
    <div class="card">
        <h3 class="mt-3 ml-3">Booking Request Form</h3>

        <div class="card-block">
            <form action="/create_booking" method="post">
                <fieldset class="form-group<%= validation.function != undefined ? ' has-danger' : '' %>">
                    <label for="function">Which function is using this vehicle?</label>
                    <input id="function" name="function" class="form-control" type="text" value="<%= bookingRequest.function %>" required>
                    <span class="form-control-feedback"><%= validation.function %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.numPeople != undefined ? ' has-danger' : '' %>">
                    <label for="numPeople">How many people will be in the vehicle?</label>
                    <input id="numPeople" name="numPeople" class="form-control" type="number" value="<%= bookingRequest.numPeople %>" required>
                    <span class="form-control-feedback"><%= validation.numPeople %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.startDate != undefined ? ' has-danger' : '' %>">
                    <label for="startDate">Date that you will be needing the vehicle</label>
                    <input id="startDate" name="startDate" class="form-control" type="date" value="<%= (bookingRequest.startDate || moment().add(1, 'day').tz(TZ).format('YYYY-MM-DD'))  %>" required>
                    <span class="form-control-feedback"><%= validation.startDate %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.returnDate != undefined ? ' has-danger' : '' %>">
                    <label for="returnDate">Return date of the vehicle</label>
                    <input id="returnDate" name="returnDate" class="form-control" type="date" value="<%= (bookingRequest.returnDate || moment().add(1, 'day').tz(TZ).format('YYYY-MM-DD')) %>" required>
                    <span class="form-control-feedback"><%= validation.returnDate %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.startTime != undefined ? ' has-danger' : '' %>">
                    <label for="startTime">Start Time</label>
                    <input id="startTime" name="startTime" class="form-control" type="time" value="<%= bookingRequest.startTime !== undefined ? moment(bookingRequest.startDate + ' ' + bookingRequest.startTime).format('HH:mm') : '' %>" required>
                    <span class="form-control-feedback"><%= validation.startTime %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.returnTime != undefined ? ' has-danger' : '' %>">
                    <label for="returnTime">Return Time</label>
                    <input id="returnTime" name="returnTime" class="form-control" type="time" value="<%= bookingRequest.startTime !== undefined ? moment(bookingRequest.returnDate + ' ' + bookingRequest.returnTime).format('HH:mm') : '' %>" required>
                    <span class="form-control-feedback"><%= validation.returnTime %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.reason != undefined ? ' has-danger' : '' %>">
                    <label for="reason">Reason</label>
                    <input id="reason" name="reason" class="form-control" type="text" value="<%= bookingRequest.reason %>" required>
                    <span class="form-control-feedback"><%= validation.reason %></span>
                </fieldset>

                <fieldset class="form-group">
                    <label for="notes">Additional information</label>
                    <input id="notes" name="notes" class="form-control" type="text" value="<%= bookingRequest.notes %>">
                </fieldset>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<% include scripts.ejs %>
<script src="/jquery.timepicker.min.js"></script>
</body>
</html>