<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car Booking</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>

<div class="container mt-3">
    <div class="card">
        <h3 class="text-center mt-3">Upcoming Bookings</h3>

        <div class="card-block">
            <ul class="list-group">
                <% for (booking of bookings) { %>
                    <% if(booking.startTime.isBefore(moment())) { %>
                        <li class="list-group-item justify-content-between">
                            <%= booking.name %> (<%= booking.vehicle.name %>) <i class="badge badge-primary">Return at <%= booking.returnTime.format('LT') %> (<%= booking.returnTime.fromNow() %>)</i>
                        </li>
                    <% } else { %>
                        <li class="list-group-item justify-content-between">
                            <%= booking.name %> (<%= booking.vehicle.name %>) <i class="badge badge-info">Pickup on <%= booking.startTime.format('LLL') %> (<%= booking.startTime.fromNow() %>)</i>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div class="card-block">
            <a class="btn btn-primary" href="/create_booking">Create New Booking</a>
        </div>
    </div>
</div>
<% include scripts.ejs %>
</body>
</html>