<nav class="navbar navbar-toggleable-md <%= !adminPage ? 'navbar-inverse bg-primary' : 'navbar-light bg-faded' %>">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><%=lang['car_booking']%> <%= adminPage ? ' (Admin) ' : '' %></a>
    <div class="collapse navbar-collapse row" id="navbarNav">
        <div class="col">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dash"><%= lang['dash'] %></a>
                </li>
                <% if(sess.tokens !== undefined) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><%=lang['lgout']%></a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" id="sign-in" href="<%= genAuthUrl() %>"><%=lang['sign_wth_ggl']%></a>
                    </li>
                <% } %>
                <% if (sess.tokens !== undefined && sess.user !== undefined && sess.user.isAdmin == 1) { %>
                    <li class="nav-item">
                        <a class="nav-link" id="sign-in" href="/admin"><%=lang['admin']%></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/vehicles"><%=lang['mng_vcls']%></a>
                    </li>
                <% } %>
            </ul>
        </div>
        <% if(sess.userCache !== undefined && sess.tokens !== undefined) { %>
            <span class="navbar-text mr-3"><%=lang['lggd_in_as']%> <%= sess.userCache.name %></span>
        <% } %>
    </div>
</nav>