<!DOCTYPE html>
<html lang="en">
<head>
    <title>Car</title>
    <% include head.ejs %>
</head>
<body>
<% include nav.ejs %>

<div class="container mt-3">
    <div class="card">
        <div class="card-block">
            <h3>Create Vehicle</h3>
            <form action="/add_vehicle" method="post">
                <% if(operation == 'edit') { %>
                    <input name="vid" value="<%= input.vid %>" type="hidden">
                <% } %>
                <fieldset class="form-group<%= validation.name != undefined ? ' has-danger' : '' %>">
                    <label for="car_name">Vehicle Name</label>
                    <input id="car_name" name="name" type="text" class="form-control" value="<%= input.name %>" placeholder="Car 1">
                    <span class="form-control-feedback"><%= validation.name %></span>
                </fieldset>

                <fieldset class="form-group<%= validation.type != undefined ? ' has-danger' : '' %>">
                    <label for="car_type">Vehicle Type</label>
                    <input id="car_type" type="text" name="type" class="form-control" value="<%= input.type %>" placeholder="bus">
                </fieldset>

                <fieldset class="form-group<%= validation.numSeats != undefined ? ' has-danger' : '' %>">
                    <label for="car_num_seats">Number of Seats</label>
                    <input id="car_num_seats" name="numSeats" type="number" class="form-control" value="<%= input.numSeats === undefined ? 5 : input.numSeats %>">
                    <span class="form-control-feedback"><%= validation.numSeats %></span>
                </fieldset>

                <div class="form-check">
                    <label class="form-check-label">
                        <input name="isReserved" type="checkbox" class="form-check-input" <%= input.isReserved ? 'checked' : '' %>>
                        This is a reserved vehicle
                    </label>
                    <p class="form-text text-muted">Reserved vehicles will not be assigned unless they are specifically requested by type</p>
                </div>

                <fieldset class="form-group">
                    <label for="car_notes">Notes</label>
                    <textarea id="car_notes" name="notes" class="form-control" value="<%= input.notes %>"></textarea>
                </fieldset>
                <button type="submit" class="btn btn-primary"><%= operation == 'create' ? 'Add Vehicle' : 'Save' %></button>
                <a href="/vehicles" class="btn btn-outline-danger">Cancel</a>
                <% if(operation == 'edit') { %>
                    <!--<a class="btn btn-outline-danger" href="/delete_vehicle/<%= input.vid %>">Remove Vehicle</a>-->
                <% } %>
            </form>
        </div>
    </div>
</div>

<% include scripts.ejs %>
</body>
</html>